@import "tailwindcss";

@theme {
  --font-handwritten: "Permanent Marker";
}

/* Custom Jagged Border using a Clip-Path for that sketchbook look */
.jagged-border {
}

/* Arched text container settings */
.arch-container {
  position: absolute;
  width: 350px;
  height: 350px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.arch-text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 175px; /* Half of height to create the pivot point */
  font-family: var(--font-handwritten);
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
}
